<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Chat</title>
</head>
<style>
 
</style>
<body>
    {% extends 'home.html' %}
    {% block contenido %}
    <div class="conta">
    <h1 class="card-title">Chat con {{ user.username }}</h1>
    <div id="chat-messages">
        {% for message in messages %}
       

            <figure class="text">
                <blockquote class="blockquote">
                  <p>{{ message.content }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{ message.sender.username }}
                </figcaption>
              </figure>
        {% endfor %}
    </div>
    <form method="POST" action="{{ url_for('chat', user_id=user.id) }}">
        <div class="form-floating">
            <textarea class="form-control pa" name="content" placeholder="Envia un mensage" id="floatingTextarea"></textarea>
        </div>
        <input type="submit" class="btn btn-success text-center" value="Enviar">
    </form>
    </div>
    {% endblock contenido %}
</body>
</html>
