<!DOCTYPE html>
<html>
<head>
    <title>Cargar foto de perfil - Mi Red Social</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Cargar foto de perfil</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('upload_profile_picture') }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.picture.label(class='control-label') }}
                {{ form.picture(class='form-control-file') }}
            </div>
            <button type="submit" class="btn btn-primary">Cargar</button>
            <a href="{{url_for('feed')}}" class="btn btn-danger">Cancelar</a>

        </form>
    </div>
</body>
</html>
